:root {
    --color1: #151C21;
    --color2: #BBBBBB;
    --color3: #39BFA7;
    --color4: #F87932;
}

body {
    margin: 0;
}

.container {
    width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Lato", sans-serif;
    font-family: "Merriweather", serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Sedgwick Ave", cursive;
}

.adventure {
    height: auto;
}

.adventure .container .description h3 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 4px;
    color: #666666;
    margin-bottom: 15px;
}

.adventure .container .description h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: #222222;
    margin-bottom: 0px;
}

.adventure .container .description p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 85%;
}

/* .adventure .container .description button {
    width: 220px;
    height: 62px;
    background-color: white;
    border: 2px solid #222222;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.adventure .container .description {
    background-image: url(../img/way.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: 0% 20%;
}

/* .adventure .container .description button p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;
    color: #222222;
    margin: 0px;
} */

.adventure .container .photos .first-romb {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.adventure .container .photos .second-romb {
    width: 300px;
    height: 350px;
    position: relative;
    right: 100px;
    object-fit: cover;
    top: -30px;
}

/* .adventure .container .way {
    position: relative;
    top: -770px;
    right: 175px;
} */

.adventure .container .second-romb-adaptive {
    display: none;
}

footer {
    background-color: #151C21;
}

footer .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

footer .container h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: white;
}

footer .container p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: white;
    letter-spacing: 1px;
}

.down_footer {
    background-color: #151C21;
}

.down_footer .container {
    border-top: 2px solid #414141;
    padding-top: 100px;
    padding-bottom: 100px;
}

.down_footer .container .copyright {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #BBBBBB;
}

.down_footer .container .privacy {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    color: #BBBBBB;
}

.adventure a {
    display: flex;
    font-family: "Lato", sans-serif;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 62px;
    background-color: none;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 0;
    position: relative;
    transition: .4s;
    letter-spacing: 5px;
    margin-top: 90px;
}

.adventure a:hover {
    background-color: #f87b3200;
}

.adventure a::before {
    content: "";
    display: block;
    background: #F87932;
    position: absolute;
    z-index: -1;
    transition: .4s;
}

.btn-lg::before {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
}

.btn-lg:hover::before {
    width: 100%;
}

.gallery .container h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 77px;
    color: #222222;
}

.gallery .container h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 51px;
    color: #444444;
}

.gallery .container p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    letter-spacing: 5px;
    margin-bottom: 80px;
}

.small-first {
    display: grid;
}

.small-second {
    display: flex;
}

.site:nth-child(1) {
    display: flex;
}

.site:nth-child(2) {
    display: grid;
}

.photos {
    display: flex;
}

.gallery {
    padding-top: 100px;
    padding-bottom: 100px;
}

.gallery .container {
    display: grid;
    justify-items: center;
}

.gallery img {
    margin: 10px;
}

.gallery a {
    display: flex;
    font-family: "Lato", sans-serif;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 62px;
    background-color: none;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 0;
    position: relative;
    transition: .4s;
    letter-spacing: 5px;
    margin-top: 50px;
}

.gallery a:hover {
    background-color: #f87b3200;
}

.gallery a::before {
    content: "";
    display: block;
    background: #F87932;
    position: absolute;
    z-index: -1;
    transition: .4s;
}

.btn-lg::before {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
}

.btn-lg:hover::before {
    width: 100%;
}

.video {
    background-image: url(../img/video.gif);
    background-size: cover;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.video .container h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: white;
}

.video .container p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    line-height: 30px;
    letter-spacing: 4px;
}

.video button {
    background: none;
    width: 200px;
    border: none;
    margin-top: 80px;
}

.video .container {
    position: absolute;
}

.video .container .rombs {
    position: relative;
    top: 240px
}

.highway {
    padding: 150px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-high-way.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highway .container h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: #FFFFFF;
}

.highway .container p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 5px;
    color: #EEEEEE;
    width: 61%;
}

.highway .container .leftsite h2 {
    color: var(--color3);
    font-size: 60px;
    text-align: right;
    line-height: 72px;
    font-weight: 400;
    font-family: "Sedgwick Ave", cursive;
}

.highway .container .rightsite .row {
    display: flex;
}

.highway .container .rightsite .number p {
    font-size: 80px;
    line-height: 96px;
    font-weight: 400;
    color: white;
    font-family: "Sedgwick Ave", cursive;
    margin-bottom: 0px;
}

.highway .container .rightsite .itd .month {
    font-size: 23px;
    line-height: 33px;
    font-weight: 400;
    color: #969696;
    font-family: "Sedgwick Ave", cursive;
    margin-bottom: 0px;
}

.highway .container .rightsite .itd .title {
    font-size: 29px;
    line-height: 52px;
    font-weight: 900;
    width: 100%;
    font-family: "Merriweather", serif;
    margin-bottom: 0px;
}

.highway .container {
    border: 2px solid white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.highway a {
    display: flex;
    font-family: "Lato", sans-serif;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 62px;
    background-color: #F87932;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 0;
    position: relative;
    transition: .4s;
    letter-spacing: 5px;
    margin-top: 50px;
}

.highway a:hover {
    background-color: #f87b3200;
}

.highway a::before {
    content: "";
    display: block;
    background: #F87932;
    position: absolute;
    z-index: -1;
    transition: .4s;
}

.vurezu {
    width: 100%;
    position: relative;
    top: 47px
}
.form{
    padding-top: 100px;
    padding-bottom: 100px;
}
.form .container h2 {
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    text-align: center;
    font-family: "Merriweather", serif;
    color:black;
}

.form .container .title p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 5px;
    font-family: "Lato", sans-serif;
}
.form .container .pages p{
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.form .container .pages input{
    height: 60px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
}
.form .container button {
    background-color: #F87932;
    padding: 16px 24px 16px 24px;
    height: 62px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
    letter-spacing: 3px;
    margin-top: 70px;
}
.menu-adaptive {
    display: none;
}
header {
    background-image: url(../img/BG.png);
    background-size: cover;
    height: 1131px;
}

header .nav .container {
    display: flex;
    justify-content: space-around;
}



header .nav .container .button {
    border-radius: 10px;
    padding: 16px 24px 16px 24px;
    height: 70px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 2;
}

header .nav .container .button:hover {
    cursor: pointer;
    height: 110px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
}

header .nav .container .button p {
    font-family: 'Lato', sans-serif;
    color: #F87932;
    letter-spacing: 4px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}

header .all .container .leftsitik .more-rombs,
.romb {
    transform: rotate(45deg);
    overflow: hidden;
    border: 5px solid white;
    border-radius: 10px;
    background-color: black;
    background-size: contain;
    position: relative;
}

header .all .container .leftsitik .romb img {
    transform: rotate(-45deg);
    width: 150%;
    position: absolute;
}

header .all .container .leftsitik .romb-1 {
    width: 233px;
    height: 233px;
    position: relative;
    top: -330px;
    left: 150px;
}

header .all .container .leftsitik .romb-1 img {
    top: -170px;
    left: -100px;
    transition: 0.5s;
    transform: rotate(0);
}

header .all .container .leftsitik .romb-2 {
    width: 133px;
    height: 133px;
    position: relative;
    top: -290px;
    left: 290px;
}

header .all .container .leftsitik .romb-2 img {
    width: 200%;
    top: -40px;
    left: -70px;
    transition: 0.5s;
    transform: rotate(0);
}

header .all .container .leftsitik .romb-3 {
    width: 268px;
    height: 268px;
    position: relative;
    top: -280px;
    left: 100px;
}

header .all .container .leftsitik .romb-3 img {
    width: 205%;
    top: -90px;
    left: -100px;
    transition: 0.5s;
    transform: rotate(0);
}

header .all .container .leftsitik .romb-4 {
    width: 156px;
    height: 156px;
    position: relative;
    top: -330px;
    left: -50px;
}

header .all .container .leftsitik .romb-4 img {
    top: -50px;
    transition: 0.5s;
    transform: rotate(0);
}

header .all .container .leftsitik .romb-5 {
    width: 225px;
    height: 225px;
    position: relative;
    top: -640px;
    left: -300px;
}

header .all .container .leftsitik .romb-5 img {
    top: -130px;
    left: -50px;
    transition: 0.5s;
    transform: rotate(0);
}

header .all .container .leftsitik .more-rombs {
    overflow: hidden;
    border: 5px solid white;
    border-radius: 10px;
    width: 361.52px !important;
    height: 361.52px !important;
    background-color: black;
    background-size: contain;
    position: relative;
    left: -200px;
    top: 150px;
}

header .all .container .leftsitik .more-rombs .slide img:hover,
header .all .container .leftsitik .romb img:hover {
    transition: 0.5s;
    transform: scale(1.3);
}

header .all .container .leftsitik .more-rombs .slide img {
    transition: 0.5s;
}

header .all .container .leftsitik .more-rombs .slide {
    transform: rotate(-45deg);
    width: 900px;
    top: -150px;
    left: -300px;
    transition: 0.5s;
}

header .all .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .all .container .rightsitik {
    font-size: 80px;
    margin-top: -700px;
}

header .all .container .rightsitik p {
    color: #39BFA7;
    font-family: "Merriweather", serif;
    line-height: 80px;
    font-weight: 700;
}

header .all .container .rightsitik span {
    color: #F87932;
}

header .all .container .rightsitik button span {
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

header .all .container .rightsitik button{
        background-color: #F87932;
    padding: 16px 24px 16px 24px;
    width: 213px;
    height: 62px;
    font-size: 20px;
}
.orng-btn { 
    border-color: #f87932; 
    background-color: #f87932; 
    color: #ffffff; 
    box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.6); 
    overflow: hidden; 
    position: relative; 
    transition: .2s; 
    z-index: 1;
} 
.orng-btn, 
.trn-btn { 
    border-style: solid; 
    border-width: 2px; 
    font-family: 'Lato'; 
    letter-spacing: 3px; 
    font-size: 1.2rem; 
    font-weight: 600; 
    padding: 12px 20px; 
    margin-top: 100px; 
    cursor: pointer; 
} 
 
.orng-btn:hover .in-btn { 
    right: 230px; 
    transition: .5s; 
} 
 
.orng-btn:hover { 
    transition: .5s; 
} 
 
.in-btn { 
    z-index: -1; 
    position: absolute; 
    top: -30px; 
    right: -90px; 
    width: 20px; 
    height: 150px; 
    background-color: rgb(10, 172, 137); 
    transform: rotate(30deg); 
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5); 
    transition: .5s; 
}
@media (max-width: 1500px) {
    .container {
        width: 1440px;
    }
    header .all .container .leftsitik .romb-1 {
        width: 200px;
        height: 200px;
    }

    header .all .container .leftsitik .romb-2 {
        width: 90px;
        height: 90px;
    }

    header .all .container .leftsitik .romb-3 {
        width: 210px;
        height: 210px;
        top: -240px;
        left: 150px;
    }

    header .all .container .leftsitik .romb-4 {
        top: -240px;
    }

    header .all .container .leftsitik .romb-5 {
        width: 200px;
        height: 200px;
        top: -510px;
    }

    header .all .container .leftsitik .romb-1 img {
        top: -50px;
        left: 0;
    }

    header .all .container .leftsitik .romb-3 img {
        top: 0;
    }
}
@media (max-width: 1200px) {
    .container {
        width: 950px;
    }

    /* .adventure .container .way {
        position: relative;
        top: -790px;
        right: 220px;
    } */
    footer .container .logo {
        display: flex;
        height: 200px;
        justify-content: center;
    }

    .highway .container .rightsite .itd .title {
        font-size: 20px;
    }
    header .all .container .leftsitik .more-rombs {
        width: 300px !important;
        height: 300px !important;
    }

    header .all .container .leftsitik .romb-1 {
        top: -290px;
        left: 70px;
    }

    header .all .container .leftsitik .romb-5 {
        top: -550px;
        left: -350px;
    }

    header .all .container .leftsitik .romb-4 {
        top: -230px;
        left: -150px;
    }

    header .all .container .leftsitik .romb-3 {
        top: -150px;
        left: 30px;
    }

    header .all .container .leftsitik .romb-2 {
        top: -200px;
        left: 190px;
        width: 110px;
        height: 110px;
    }

    header .nav .container .button {
        z-index: 2;
    }

}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }

    .vurezu {
        width: 100%;
        position: relative;
        top: 36px
    }

    .adventure .container .description h2 {
        text-align: center;
    }

    .adventure .container .description p {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .adventure .container .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .adventure .container .photos .first-romb {
        width: 300px;
        height: 300px;
        position: relative;
        top: -100px;
        right: 150px;
    }

    .adventure .container .photos .second-romb {
        display: none;
    }

    .adventure .container .photos .second-romb-adaptive {
        width: 300px;
        height: 350px;
        position: relative;
        left: 130px;
        top: 50px;
        display: block;
        overflow: hidden;
    }

    .video .container {
        position: absolute;
    }

    .video .container .rombs {
        position: relative;
        top: 200px
    }

    .highway .container .leftsite h2 {
        color: var(--color3);
        font-size: 60px;
        text-align: center;
        line-height: 72px;
        font-weight: 400;
        font-family: "Sedgwick Ave", cursive;
    }

    .highway .container .rightsite .itd .title {
        font-size: 29px;
    }

    .adventure .container .description {
        background-image: url(../img/way-adaptive.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        background-position: 100% 50%;
    }
    header .nav .container {
        display: none;
    }

    .container-fluid {
        background-color: none;
    }

    header .nav .menu-adaptive {
        display: block;
    }

    .navbar-toggler {
        background-size: cover !important;
        border: transparent !important;
        justify-self: end;
    }

    .navbar-toggler img {
        width: 100px;
        height: 100px;
    }

    .container-fluid {
        justify-content: space-between !important;
        align-items: start;
    }

    .btn-close {
        background-size: cover !important;
        width: 40px !important;
        height: 40px !important;
        position: relative;
        right: 70px;
        top: 50px;
        fill: #F87932;
        --bs-btn-close-opacity: 1 !important;
        --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F87932'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e !important) !important;
    }

    .menu-adaptive a {
        font-size: 24px;
        font-family: 'Lato', sans-serif;
        text-decoration: underline;
        color: #F87932;
        letter-spacing: 5px;
    }

    .logo-mobile {
        height: 200px;
    }

    header {
        background-repeat: no-repeat;
        background-position: -500px;
    }

    header .all .container .leftsitik .romb-2 {
        display: none;
    }

    header .all .container .leftsitik .more-rombs {
        width: 250px !important;
        height: 250px !important;
        left: -223px;
        top: 538px;
    }

    header .all .container .leftsitik .romb-5 {
        width: 150px;
        height: 150px;
        top: -232px;
        left: -374px;
    }

    header .all .container .leftsitik .romb-4 {
        top: -4px;
        left: -524px;
        width: 120px;
        height: 120px;
    }

    header .all .container .leftsitik .romb-3 {
        top: 30px;
        left: 12px;
        width: 170px;
        height: 170px;
    }

    header .all .container .leftsitik .romb-1 {
        top: 327px;
        left: 206px;
        width: 120px;
        height: 120px;
    }

    header .all .container .rightsitik {
        margin-top: -450px;
    }
    .container-fluid{
        display: flex;
        justify-content: space-between;
    }
    .nav{
        width: 100%;
    }
    .navbar{
        width: 100%;
    }
    .menu-adaptive{
        width: 100%;
    }

}
@media (max-width: 900px) {
    .container {
        width: 720px;
    }
    header .all .container .rightsitik p {
        font-size: 45px;
    }

    header .all .container .leftsitik .more-rombs {
        width: 200px !important;
        height: 200px !important;
        left: -160px;
        top: 538px;
    }

    header .all .container .leftsitik .romb-1 {
        top: 491px;
        left: 53px;
    }

    header .all .container .leftsitik .romb-5 {
        top: -279px;
        left: -241px;
    }

    header .all .container .leftsitik .romb-4 {
        left: -342px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .adventure .container .photos .first-romb {
        width: 300px;
        height: 300px;
        position: relative;
        top: -150px;
        right: 160px;
    }

    .adventure .container .photos .second-romb-adaptive {
        width: 300px;
        height: 350px;
        position: relative;
        left: 30px;
        top: -50px;
    }

    .video .container {
        position: absolute;
    }

    .video .container .rombs {
        position: relative;
        top: 150px
    }

    .vurezu {
        width: 100%;
        position: relative;
        top: 26px
    }
    
    header .all .container .rightsitik p {
        font-size: 45px;
    }

    header .all .container .leftsitik .more-rombs {
        width: 200px !important;
        height: 200px !important;
        left: -160px;
        top: 538px;
    }

    header .all .container .leftsitik .romb-1 {
        top: 491px;
        left: 53px;
    }

    header .all .container .leftsitik .romb-5 {
        top: -279px;
        left: -241px;
    }

    header .all .container .leftsitik .romb-4 {
        left: -342px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 98%;
    }

    .adventure .container .photos .first-romb {
        width: 200px;
        height: 200px;
        position: relative;
        top: -150px;
        right: 70px;
    }

    .adventure .container .photos .second-romb-adaptive {
        width: 300px;
        height: auto;
        position: relative;
        left: 17px;
        top: -50px;
    }

    .video .container h2 {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 66x;
        color: white;
    }

    .video .container p {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: white;
        line-height: 30px;
        letter-spacing: 4px;
    }

    .video .container {
        position: absolute;
    }

    .video .container .rombs {
        position: relative;
        top: 220px
    }

    .highway {
        padding-left: 0px;
        padding-right: 0px;
    }

    .vurezu {
        width: 100%;
        position: relative;
        top: 16px
    }
    header .orng-btn, .trn-btn{
        margin-top: 0px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 98%;
    }

    .vurezu {
        display: none;
    }

    .adventure .container .description h3 {
        font-size: 18px;
    }

    .adventure .container .description h2 {
        font-size: 40px;
    }

    .adventure .container .description p {
        font-size: 16px;
        margin-top: 40px;
    }
    .adventure .container .photos .first-romb {
        width: 150px;
        height: 150px;
        position: relative;
        top: -120px;
        right: 70px;
    }

    .adventure .container .photos .second-romb-adaptive {
        width: 200px;
        position: relative;
        left: 15px;
        top: -50px;
    }

    footer .container span {
        text-align: center;
        margin-bottom: 20px;
    }

    .video .container h2 {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 17px;
        color: white;
    }

    .video .container p {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 12px;
        color: white;
        line-height: 12px;
        letter-spacing: 4px;
        margin-top: 30px;
        width: 50%;

    }

    .video {
        background-image: url(../img/video-adaptive-bg.png);
        background-size: cover;
        height: 900px;
        margin-bottom: 1000px;
    }

    .video button {
        display: none;
    }

    .video .container {
        position: none;
    }

    .video .container .rombs {
        position: absolute;
    }

    .video .container .rombs .first-romb {
        position: relative;
        top: -50px;
        left: 145px;
        width: 97px;
    }

    .video .container .rombs .second-romb {
        position: relative;
        top: -10px;
        left: 25px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .video .container .rombs .third-romb {
        position: relative;
        top: -10px;
        left: 25px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .video .container .rombs .fourd-romb {
        position: relative;
        top: 30px;
        left: -95px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .video .container .col {
        position: relative;
    }

    .video .container .col {
        margin: 0;
        padding: 0px;
        width: 80px;
    }

    .video {
        margin-bottom: 0px;
    }
    
    header .all .container .rightsitik p {
        font-size: 37px;
    }

    header .all .container .rightsitik button {
        background-color: #F87932;
        padding: 16px 24px 16px 24px;
        width: 180px;
        height: 54px;
        font-size: 14px;
    }

    header .all .container .leftsitik .more-rombs {
        width: 150px !important;
        height: 150px !important;
        left: -119px;
        top: 538px;
    }

    header .all .container .leftsitik .romb-1 {
        width: 100px;
        height: 100px;
        top: 491px;
        left: 39px;
    }

    header .all .container .leftsitik .romb-3 {
        top: 190px;
        left: 12px;
        width: 120px;
        height: 120px;
    }

    header .all .container .leftsitik .romb-5 {
        width: 110px;
        height: 110px;
        top: -135px;
        left: -117px;
    }

    header .all .container .leftsitik .romb-4 {
        left: -222px;
        top: 73px;
    }

    header .all .container .rightsitik {
        margin-top: -290px;
    }
    .logo-mobile {
        height: 150px;
    }
}

@media (max-width: 1310px) {

    .small-first img,
    .small-second img {
        height: 200px;
    }

    .big-first img {
        width: 200px;
    }

    .big-second img {
        height: 200px;
    }
}

@media (max-width: 990px) {
    .photos {
        display: grid;
    }

}

@media (max-width: 470px) {

    .small-first img,
    .small-second img {
        height: 150px;
    }

    .big-first img {
        width: 150px;
    }

    .big-second img {
        height: 150px;
    }

    .highway .container .rightsite .number p {
        font-size: 60px;
    }

    .highway .container .rightsite .itd .month {
        font-size: 15px;
        line-height: 33px;
        font-weight: 400;
        color: #969696;
        font-family: "Sedgwick Ave", cursive;
        margin-bottom: 0px;
    }

    .highway .container .rightsite .itd .title {
        font-size: 18px;
        line-height: 52px;
        font-weight: 900;
        width: 100%;
        font-family: "Merriweather", serif;
        margin-bottom: 0px;
    }

    .highway .container .categories {
        margin-bottom: 0px;
    }
    header .all .container .rightsitik p {
        font-size: 25px;
    }
}


@media (max-width: 370px) {

    .small-first img,
    .small-second img {
        height: 100px;
    }

    .big-first img {
        width: 100px;
    }

    .big-second img {
        height: 100px;
    }

    .photos img {
        margin: 5px;
    }

    .video .container .col {
        margin: 0;
        padding: 0px;
        width: 60px;
    }

    .video .container .rombs .first-romb {
        position: relative;
        top: -50px;
        left: 125px;
        width: 97px;
    }

    .video .container .rombs .second-romb {
        position: relative;
        top: -20px;
        left: 35px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .video .container .rombs .third-romb {
        position: relative;
        top: -20px;
        left: 35px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .video .container .rombs .fourd-romb {
        position: relative;
        top: 10px;
        left: -55px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    header .all .container .rightsitik p {
        font-size: 45px;
    }

    header .all .container .leftsitik .more-rombs {
        width: 200px !important;
        height: 200px !important;
        left: -50px;
        top:100px;
    }

    header .all .container .leftsitik .romb-1 {
        top: -151px;
        left: 130px;
    }

    header .all .container .leftsitik .romb-5 {
        top: -520px;
        left: -111px;
    }
    header .all .container .leftsitik .romb-3 {
        top: -30px;
        left: 111px;
    }
    header .all .container{
        display: flex;
        flex-direction: column;
    }
    header .all .container .rightsitik{
        margin-top:50px
    }

    header .all .container .leftsitik .romb-4 {
        left: -262px;
        top:130px
    }
}