:root {
    --color1: #151C21;
    --color2: #BBBBBB;
    --color3: #39BFA7;
    --color4: #F87932;
}

body {
    margin: 0;
}

.container {
    width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Lato", sans-serif;
    font-family: "Merriweather", serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Sedgwick Ave", cursive;
}

.adventure {
    height: auto;
}

.adventure .container .description h3 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 4px;
    color: #666666;
    margin-bottom: 15px;
}

.adventure .container .description h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: #222222;
    margin-bottom: 0px;
}

.adventure .container .description p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 85%;
}

/* .adventure .container .description button {
    width: 220px;
    height: 62px;
    background-color: white;
    border: 2px solid #222222;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.adventure .container .description {
    background-image: url(../img/way.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: 0% 20%;
}

/* .adventure .container .description button p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;
    color: #222222;
    margin: 0px;
} */

.adventure .container .photos .first-romb {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.adventure .container .photos .second-romb {
    width: 300px;
    height: 350px;
    position: relative;
    right: 100px;
    object-fit: cover;
    top: -30px;
}

/* .adventure .container .way {
    position: relative;
    top: -770px;
    right: 175px;
} */

.adventure .container .second-romb-adaptive {
    display: none;
}

footer {
    background-color: #151C21;
}

footer .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

footer .container h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: white;
}

footer .container p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: white;
    letter-spacing: 1px;
}

.down_footer {
    background-color: #151C21;
}

.down_footer .container {
    border-top: 2px solid #414141;
    padding-top: 100px;
    padding-bottom: 100px;
}

.down_footer .container .copyright {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #BBBBBB;
}

.down_footer .container .privacy {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    color: #BBBBBB;
}

.adventure a {
    display: flex;
    font-family: "Lato", sans-serif;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 62px;
    background-color: none;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 0;
    position: relative;
    transition: .4s;
    letter-spacing: 5px;
    margin-top: 90px;
}

.adventure a:hover {
    background-color: #f87b3200;
}

.adventure a::before {
    content: "";
    display: block;
    background: #F87932;
    position: absolute;
    z-index: -1;
    transition: .4s;
}

.btn-lg::before {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
}

.btn-lg:hover::before {
    width: 100%;
}

.gallery .container h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 77px;
    color: #222222;
}

.gallery .container h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 51px;
    color: #444444;
}

.gallery .container p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    letter-spacing: 5px;
    margin-bottom: 80px;
}

.small-first {
    display: grid;
}

.small-second {
    display: flex;
}

.site:nth-child(1) {
    display: flex;
}

.site:nth-child(2) {
    display: grid;
}

.photos {
    display: flex;
}

.gallery {
    padding-top: 100px;
    padding-bottom: 100px;
}

.gallery .container {
    display: grid;
    justify-items: center;
}

.gallery img {
    margin: 10px;
}

.gallery a {
    display: flex;
    font-family: "Lato", sans-serif;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 62px;
    background-color: none;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 0;
    position: relative;
    transition: .4s;
    letter-spacing: 5px;
    margin-top: 50px;
}

.gallery a:hover {
    background-color: #f87b3200;
}

.gallery a::before {
    content: "";
    display: block;
    background: #F87932;
    position: absolute;
    z-index: -1;
    transition: .4s;
}

.btn-lg::before {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
}

.btn-lg:hover::before {
    width: 100%;
}

.video {
    background-image: url(../img/video.gif);
    background-size: cover;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.video .container h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: white;
}

.video .container p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    line-height: 30px;
    letter-spacing: 4px;
}

.video button {
    background: none;
    width: 200px;
    border: none;
    margin-top: 80px;
}

.video .container {
    position: absolute;
}

.video .container .rombs {
    position: relative;
    top: 240px
}

.highway {
    padding: 150px;
    background-repeat: no-repeat;
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/bg-high-way.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.highway .container h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: #FFFFFF;
}

.highway .container p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 5px;
    color: #EEEEEE;
    width: 61%;
}
.highway .container .leftsite h2{
    color:var(--color3);
    font-size:60px;
    text-align: right;
    line-height: 72px;
    font-weight: 400;
    font-family: "Sedgwick Ave", cursive;
}
.highway .container .rightsite .row{
    display: flex;
}
.highway .container .rightsite .number p{
    font-size:80px;
    line-height: 96px;
    font-weight: 400;
    color:white;
    font-family: "Sedgwick Ave", cursive;
    margin-bottom: 0px;
}
.highway .container .rightsite .itd .month{
    font-size:23px;
    line-height: 33px;
    font-weight: 400;
    color:#969696;
    font-family: "Sedgwick Ave", cursive;
    margin-bottom: 0px;
}
.highway .container .rightsite .itd .title{
    font-size:29px;
    line-height: 52px;
    font-weight: 900;
    width: 100%;
    font-family: "Merriweather", serif;
    margin-bottom: 0px;
}
.highway .container{
    border: 2px solid white;
    padding-top:60px;
    padding-bottom:60px;
}

.highway a {
    display: flex;
    font-family: "Lato", sans-serif;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 62px;
    background-color: #F87932;
    font-size: 20px;
    font-weight: 700;
    color:white;
    border: none;
    border-radius: 0;
    position: relative;
    transition: .4s;
    letter-spacing: 5px;
    margin-top: 50px;
}

.highway a:hover {
    background-color: #f87b3200;
}

.highway a::before {
    content: "";
    display: block;
    background: #F87932;
    position: absolute;
    z-index: -1;
    transition: .4s;
}

@media (max-width: 1200px) {
    .container {
        width: 950px;
    }

    /* .adventure .container .way {
        position: relative;
        top: -790px;
        right: 220px;
    } */
    footer .container .logo {
        display: flex;
        height: 200px;
        justify-content: center;
    }
    .highway .container .rightsite .itd .title{
        font-size:20px;
    }

}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }

    .adventure .container .description h2 {
        text-align: center;
    }

    .adventure .container .description p {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .adventure .container .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    /* .adventure .container .way {
        position: relative;
        top: -1130px;
        right: 45px;
    } */

    .adventure .container .photos .first-romb {
        width: 300px;
        height: 300px;
        position: relative;
        top: -100px;
        right: 150px;
    }

    .adventure .container .photos .second-romb {
        display: none;
    }

    .adventure .container .photos .second-romb-adaptive {
        width: 300px;
        height: 350px;
        position: relative;
        left: 130px;
        top: 50px;
        display: block;
        overflow: hidden;
    }

    .video .container {
        position: absolute;
    }

    .video .container .rombs {
        position: relative;
        top: 200px
    }
    .highway .container .leftsite h2 {
        color: var(--color3);
        font-size: 60px;
        text-align: center;
        line-height: 72px;
        font-weight: 400;
        font-family: "Sedgwick Ave", cursive;
    }
    .highway .container .rightsite .itd .title{
        font-size:29px;
    }

}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    /* .adventure .container .way {
        position: relative;
        top: -1125px;
        right: 5px;
        max-width: 100%;
        height: 650px;
    } */

    /* .adventure .container .description button {
        margin-top: 90px;
    } */

    .adventure .container .photos .first-romb {
        width: 300px;
        height: 300px;
        position: relative;
        top: -150px;
        right: 160px;
    }

    .adventure .container .photos .second-romb-adaptive {
        width: 300px;
        height: 350px;
        position: relative;
        left: 30px;
        top: -50px;
    }

    .video .container {
        position: absolute;
    }

    .video .container .rombs {
        position: relative;
        top: 150px
    }
}

@media (max-width: 576px) {
    .container {
        width: 98%;
    }

    .adventure .container .photos .first-romb {
        width: 200px;
        height: 200px;
        position: relative;
        top: -150px;
        right: 70px;
    }

    .adventure .container .photos .second-romb-adaptive {
        width: 300px;
        height: auto;
        position: relative;
        left: 17px;
        top: -50px;
    }

    .video .container h2 {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 66x;
        color: white;
    }

    .video .container p {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: white;
        line-height: 30px;
        letter-spacing: 4px;
    }

    .video .container {
        position: absolute;
    }

    .video .container .rombs {
        position: relative;
        top: 220px
    }
    .highway{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 98%;
    }

    .adventure .container .description h3 {
        font-size: 18px;
    }

    .adventure .container .description h2 {
        font-size: 40px;
    }

    .adventure .container .description p {
        font-size: 16px;
        margin-top: 40px;
    }

    /* .adventure .container .description button {
        width: 190px;
        height: 62px;
        background-color: white;
        border: 2px solid #222222;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    /* .adventure .container .description button p {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 4px;
        color: #222222;
        margin: 0px;
    } */
    .adventure .container .photos .first-romb {
        width: 150px;
        height: 150px;
        position: relative;
        top: -120px;
        right: 70px;
    }

    .adventure .container .photos .second-romb-adaptive {
        width: 200px;
        position: relative;
        left: 15px;
        top: -50px;
    }

    /* .adventure .container .way {
        position: relative;
        top: -740px;
        right: 5px;
        max-width: 100%;
        height: 450px;
    } */
    footer .container span {
        text-align: center;
        margin-bottom: 20px;
    }

    .video .container h2 {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 17px;
        color: white;
    }

    .video .container p {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 12px;
        color: white;
        line-height: 12px;
        letter-spacing: 4px;
        margin-top: 30px;
        width: 50%;

    }

    .video {
        background-image: url(../img/video-adaptive-bg.png);
        background-size: cover;
        height: 900px;
        margin-bottom: 1000px;
    }

    .video button {
        display: none;
    }

    .video .container {
        position: none;
    }

    .video .container .rombs {
        position: absolute;
    }

    .video .container .rombs .first-romb {
        position: relative;
        top: -50px;
        left: 145px;
        width: 97px;
    }

    .video .container .rombs .second-romb {
        position: relative;
        top: -10px;
        left: 25px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .video .container .rombs .third-romb {
        position: relative;
        top: -10px;
        left: 25px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .video .container .rombs .fourd-romb {
        position: relative;
        top: 30px;
        left: -95px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .video .container .col {
        position: relative;
    }

    .video .container .col {
        margin: 0;
        padding: 0px;
        width: 80px;
    }

    .video {
        margin-bottom: 0px;
    }
}

@media (max-width: 1310px) {

    .small-first img,
    .small-second img {
        height: 200px;
    }

    .big-first img {
        width: 200px;
    }

    .big-second img {
        height: 200px;
    }
}

@media (max-width: 990px) {
    .photos {
        display: grid;
    }

}

@media (max-width: 470px) {

    .small-first img,
    .small-second img {
        height: 150px;
    }

    .big-first img {
        width: 150px;
    }

    .big-second img {
        height: 150px;
    }
    .highway .container .rightsite .number p{
        font-size:60px;
    }
    .highway .container .rightsite .itd .month{
        font-size:15px;
        line-height: 33px;
        font-weight: 400;
        color:#969696;
        font-family: "Sedgwick Ave", cursive;
        margin-bottom: 0px;
    }
    .highway .container .rightsite .itd .title{
        font-size:18px;
        line-height: 52px;
        font-weight: 900;
        width: 100%;
        font-family: "Merriweather", serif;
        margin-bottom: 0px;
    }
    .highway .container .categories{
        margin-bottom: 0px;
    }
}

@media (max-width: 370px) {

    .small-first img,
    .small-second img {
        height: 100px;
    }

    .big-first img {
        width: 100px;
    }

    .big-second img {
        height: 100px;
    }

    .photos img {
        margin: 5px;
    }

    .video .container .col {
        margin: 0;
        padding: 0px;
        width: 60px;
    }

    .video .container .rombs .first-romb {
        position: relative;
        top: -50px;
        left: 125px;
        width: 97px;
    }

    .video .container .rombs .second-romb {
        position: relative;
        top: -20px;
        left: 35px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .video .container .rombs .third-romb {
        position: relative;
        top: -20px;
        left: 35px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .video .container .rombs .fourd-romb {
        position: relative;
        top: 10px;
        left: -55px;
        height: auto;
        min-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
}