:root {
    --color1: #151C21;
    --color2: #BBBBBB;
    --color3: #39BFA7;
    --color4: #F87932;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Lato", sans-serif;
    font-family: "Merriweather", serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Sedgwick Ave", cursive;
}

.adventure .container .description h3 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 4px;
    color: #666666;
    margin-bottom: 15px;
}

.adventure .container .description h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: #222222;
    margin-bottom: 0px;
}

.adventure .container .description p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 85%;
}

.adventure .container .description button {
    width: 220px;
    height: 62px;
    background-color: white;
    border: 2px solid #222222;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adventure .container .description button p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;
    color: #222222;
    margin: 0px;
}

.adventure .container .photos .first-romb {
    width: 300px;
    height: 300px;
}

.adventure .container .photos .second-romb {
    width: 300px;
    height: 350px;
    position: relative;
    right: 100px;
    top: -30px;
}

.adventure .container .way {
    position: relative;
    top: -770px;
    right: 175px;
}

.adventure .container .second-romb-adaptive {
    display: none;
}

.container {
    width: 1200px;
}

@media (max-width: 1200px) {
    .container {
        width: 950px;
    }

    .adventure .container .way {
        position: relative;
        top: -790px;
        right: 220px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }

    .adventure .container .description h2 {
        text-align: center;
    }

    .adventure .container .description p {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .adventure .container .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .adventure .container .way {
        position: relative;
        top: -1130px;
        right: 45px;
    }

    .adventure .container .photos .first-romb {
        width: 300px;
        height: 300px;
        position: relative;
        top: -100px;
        right: 150px;
    }

    .adventure .container .photos .second-romb {
        display: none;
    }

    .adventure .container .photos .second-romb-adaptive {
        width: 300px;
        height: 350px;
        position: relative;
        left: 180px;
        top: 50px;
        display: inline-block;
        overflow: hidden;
    }

    .adventure .container .description button {
        margin-right: 40%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .adventure .container .way {
        position: relative;
        top: -1125px;
        right: 5px;
        max-width: 100%;
        height: 650px;
    }

    .adventure .container .description button {
        margin-top: 90px;
    }

    .adventure .container .photos .first-romb {
        width: 300px;
        height: 300px;
        position: relative;
        top: -100px;
        right: 180px;
    }

    .adventure .container .photos .second-romb-adaptive {
        width: 300px;
        height: 350px;
        position: relative;
        left: 80px;
        top: 50px;
    }

    @media (max-width: 576px) {
        .container {
            width: 98%;
        }

        .adventure .container .photos .first-romb {
            width: 200px;
            height: 200px;
            position: relative;
            top: -50px;
            right: 70px;
        }

        .adventure .container .photos .second-romb-adaptive {
            width: 300px;
            height: auto;
            position: relative;
            left: 10px;
            top: 50px;
        }
    }

    @media (max-width: 480px) {
        .container {
            width: 98%;
        }
        .adventure .container .description h3{
            font-size:18px;
        }
        .adventure .container .description h2{
            font-size:40px;
        }
        .adventure .container .description p{
            font-size: 16px;
            margin-top: 40px;
        }
        .adventure .container .description button {
            width: 190px;
            height: 62px;
            background-color: white;
            border: 2px solid #222222;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .adventure .container .description button p {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 4px;
            color: #222222;
            margin: 0px;
        }
        .adventure .container .photos .first-romb {
            width: 150px;
            height: 150px;
            position: relative;
            top: -50px;
            right: 70px;
        }

        .adventure .container .photos .second-romb-adaptive {
            width: 300px;
            height: auto;
            position: relative;
            left: 10px;
            top: 50px;
        }
        .adventure .container .way {
            position: relative;
            top: -740px;
            right: 5px;
            max-width: 100%;
            height: 450px;
        }
    }
}